{% extends 'base.html.twig' %}

{% block title %}Profil {{ app.user.username }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Profil {{ app.user.username }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Pseudonyme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('profile_edit', {'id': user.id}) }}" class="btn btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
