{% extends 'base.html.twig' %}

{% block title %}Profil {{ app.user.username }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Profil {{ app.user.username }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Pseudonyme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.username }}</td>
                <td>
                    <a href="{{ path('profile_edit', {'id': app.user.id}) }}" class="btn btn-success">Modifier</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
