{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos articles</h1>

    <div class="mt-2 mb-2 d-flex justify-content-end">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-2 mb-2 d-flex justify-content-end">
            <button class="btn btn-success text-white">Rechercher</button>
        {{ form_end(form) }}
        </div>
    </div>

    <table class="table">
        <thead>
            <tr class="bg-success text-white">
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Créé le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td> <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="img-fluid" alt=""></td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-success m-2 w-100">Voir</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-danger m-2 w-100">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="{{ path('post_new') }}" class="btn btn-success">Nouvel article</a>
    </div>
</div>
{% endblock %}
