{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="container">
    <h1>Article </h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="bg-success text-white">Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th class="bg-success text-white">Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th class="bg-success text-white"></th>
                <td><img src="{{ post.image }}"></td>
            </tr>
            <tr>
                <th class="bg-success text-white">Auteur</th>
                <td>{{ post.user.username }}</td>
            </tr>
            <tr>
                <th class="bg-success text-white">Créé le</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

        <div class="m-4 rounded">
        <h4>Commentaires: </h4>
        {% for comment in post.comments %}
            <div class="border border-1 border-succes rounded shadow m-2 p-4">
                {{ comment.user.username }} :
                {{ comment.comment }}
            </div>
            <p class="text-center">
                {% else %}Aucun Commentaire</p>
        {% endfor %}
        {% if app.user %}
            {% include "post/_comment.html.twig" %}
        {% endif %}
</div>

<div class="container d-flex justify-content-end mt-5">
    <a href="{{ path('post_index') }}" class="btn btn-success">Retour liste</a>
</div>
{% endblock %}
